requests==2.28.1
PyPDF2==3.0.0
openai==0.27.6
pandas==1.5.3
pdfplumber==0.5.28

#openai.api_key = "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"